---
import type { AstroComponent } from '@lucide/astro'
import Avatar from '../Base/Avatar.astro'
import Box from '../Base/Box.astro'
import { MapPin, User, Book, Heart, Twitter, Github, Mail } from '@lucide/astro'

interface Social {
    text: string
    url: string
    icon: AstroComponent
}

const Socials: Social[] = [
    {
        text: 'Donate',
        url: 'https://s.naibuu.dev/kofi',
        icon: Heart,
    },
    {
        text: 'Twitter',
        url: 'https://s.naibuu.dev/twitter',
        icon: Twitter,
    },
    {
        text: 'Github',
        url: 'https://s.naibuu.dev/github',
        icon: Github,
    },
    {
        text: 'Email',
        url: 'mailto:me@naibuu.dev',
        icon: Mail,
    },
]
---

<div class="flex w-full flex-col items-center gap-4 md:max-w-[256px]">
    <Avatar size={256} />
    <Box>
        <h4 class="text-sm font-semibold text-neutral-400">About</h4>

        <span class="flex items-center gap-1 font-medium text-indigo-300">
            <MapPin size="18" /> Greece</span
        >

        <span class="flex items-center gap-1 font-medium text-indigo-300">
            <User size="18" /> He/Him</span
        >

        <span class="flex items-center gap-1 font-medium text-indigo-300">
            <Book size="18" /> Self-taught</span
        >
    </Box>
    <Box>
        <h4 class="text-sm font-semibold text-neutral-400">Socials</h4>
        {
            Socials.map((social) => (
                <a
                    href={social.url}
                    target="_blank"
                    class="flex items-center gap-1 font-medium text-neutral-200 hover:text-indigo-300"
                >
                    <social.icon size="18" fill="#ffffff10" />
                    {social.text}
                </a>
            ))
        }
    </Box>
</div>
