<footer class="max-sm:flex-col max-sm:justify-center flex items-center justify-between py-12 text-sm">
    <span class="font-medium text-neutral-600 dark:text-neutral-400">
        © {new Date().getFullYear()} Naibuu
    </span>

    <p class="font-medium text-neutral-600 dark:text-neutral-400">
        If you are reading this - have a great day ツ
    </p>
</footer>
