---
import Layout from '../layouts/Empty.astro'
import { TriangleAlert } from '@lucide/astro'
---

<Layout>
    <div class="flex h-dvh w-full flex-col items-center justify-center gap-2">
        <p
            class="flex items-center gap-1 font-medium text-neutral-700 dark:text-neutral-200"
        >
            <TriangleAlert size="18" fill="#ffffff10" /> The page you're looking
            for is not found!
        </p>

        <a
            href="/"
            class="rounded-lg bg-sky-400 px-3 py-2 font-semibold text-sky-950 transition hover:bg-sky-300"
        >
            Return
        </a>
    </div>
</Layout>
