---
import Layout from '../layouts/Layout.astro'
import { UserCircle, Notebook, Star } from '@lucide/astro'
import { Skills, Projects } from '@/consts'

import Box from '@/components/Base/Box.astro'
import SkillCard from '@/components/Home/SkillCard.astro'
import ProjectCard from '@/components/Home/ProjectCard.astro'
---

<Layout>
    <!-- Me -->
    <span
        class="flex items-center gap-1 text-sm font-medium text-neutral-600 dark:text-neutral-400"
    >
        <UserCircle size="18" fill="#ffffff10" /> Me
    </span>

    <Box>
        Hi! I'm Alex! I'm a software developer and designer from Greece with
        experience in languages like TypeScript, Python, C++, and a bit of Rust.
    </Box>

    <!-- Skills -->
    <span
        class="flex items-center gap-1 text-sm font-medium text-neutral-600 dark:text-neutral-400"
    >
        <Star size="18" fill="#ffffff10" /> Skills
    </span>

    <Box>
        {Skills.map((skill) => <SkillCard {...skill} />)}
    </Box>

    <!-- Projects -->
    <span
        class="flex items-center gap-1 text-sm font-medium text-neutral-600 dark:text-neutral-400"
    >
        <Notebook size="18" fill="#ffffff10" /> Projects
    </span>

    {Projects.map((project) => <ProjectCard {...project} />)}
</Layout>
