---
interface Props {
    text: string
    percentage: number // 0 - 100
}

const { text, percentage } = Astro.props

const style = `width: ${percentage}%;`
---

<div class="flex flex-col gap-2">
    <p class="font-medium text-neutral-200">{text}</p>
    <div class="h-6 w-full rounded bg-neutral-950">
        <div style={style} class="h-full rounded bg-green-500"></div>
    </div>
</div>
