---
interface Props {
    className?: string
}

const { className } = Astro.props
---

<span
    class:list={[
        'inline-flex items-center gap-1 rounded-full bg-zinc-200 px-3 py-1 text-xs font-medium text-neutral-800 dark:bg-zinc-800 dark:text-neutral-300',
        className,
    ]}
>
    <slot />
</span>