---
import { ArrowRight } from '@lucide/astro'
---

<a
    href="https://vtube.center"
    target="_blank"
    class="group rounded-2xl bg-gradient-to-t from-indigo-800 from-40% to-indigo-300 p-1 transition-all active:scale-[.98]"
>
    <div
        class="flex items-center justify-between rounded-xl bg-gradient-to-t from-indigo-800 to-indigo-700 px-4 py-3"
    >
        <div class="flex items-center gap-3">
            <img
                src="/assets/vtubers.png"
                draggable={false}
                class="w-24 select-none"
            />
            <p class="max-w-64 text-sm font-medium opacity-80">
                Catch up with events, collabs and grow your fanbase.
            </p>
        </div>

        <span
            class="inline-flex items-center gap-1 text-sm opacity-80 transition-all group-hover:gap-3 hover:opacity-100"
        >
            Check out <ArrowRight size={12} />
        </span>
    </div>
</a>
