<footer class="flex items-center justify-between py-12 text-sm">
    <span class="text-neutral-400">
        © {new Date().getFullYear()} thororen
    </span>

    <p class="text-neutral-400">
        Skidded with 💗 from
        <a href="https://naibuu.dev/" target="_blank" rel="noreferrer" class="underline">Naibuu</a>.
    </p>
</footer>
