<footer class="flex items-center justify-between py-12 text-sm">
    <span class="text-neutral-400">
        © {new Date().getFullYear()} Naibuu
    </span>

    <p class="text-neutral-400">
        Website is inspired by
        <a href="https://wingio.xyz/" class="underline">Wing</a>.
    </p>
</footer>
