---
import '@/styles/global.css'

import Head from '@/components/Layout/Head.astro'
import GridHeader from '@/components/Layout/GridHeader.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <Head title="Naibuu" description="Page not found." />
    </head>
    <body>
        <GridHeader />
        <slot />
    </body>
</html>
