---
import '@/styles/global.css'

import Head from '@/components/Layout/Head.astro'
import Header from '@/components/Layout/Header.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <Head title="Naibuu" description="Page not found." />
    </head>
    <body>
        <Header />
        <slot />
    </body>
</html>
