---
import '../styles/global.css'
import Head from '../components/Layout/Head.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <Head title="Naibuu" description="Page not found." />
    </head>
    <body>
        <slot />
    </body>
</html>
