---
import '@/styles/global.css'
import Head from '@/components/Layout/Head.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <Head title="Naibuu" description="Page not found." />
    </head>
    <body>
        <ThemeToggle />
        <slot />
    </body>
</html>
