---
import '@/styles/global.css'
import Head from '@/components/Head.astro'
import Footer from '@/components/Footer.astro'
import Aside from '@/components/Aside.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <Head
            title="Thororen"
            description="I'm a software developer from the United States of America with experience in languages such as TypeScript, JavaScript, Python, and Go."
        />
        <link rel="icon" type="image/png" href="/assets/favicon.png" />
    </head>
    <body>
        <main
            class="flex flex-col items-start gap-3 px-3 pt-16 md:flex-row md:gap-6"
        >
            <Aside />
            <div class="flex flex-col gap-3">
                <slot />
                <Footer />
            </div>
        </main>

        <!-- thor stuff -->
        <div style="display: none;">
            <a
                href="https://www.abuseipdb.com/user/201906"
                title="AbuseIPDB is an IP address blacklist for webmasters and sysadmins to report IP addresses engaging in abusive behavior on their networks"
            >
                <img
                    src="https://www.abuseipdb.com/contributor/201906.svg"
                    alt="AbuseIPDB Contributor Badge"
                    style="width: 401px;"
                />
            </a>
        </div>
    </body>
</html>
