---
import '../styles/global.css'
import Head from '../components/Layout/Head.astro'
import Aside from '../components/Layout/Aside.astro'
import Footer from '../components/Layout/Footer.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <Head
            title="Naibuu"
            description="I'm a software developer and designer from Greece with experience in
            languages like TypeScript, Python, C++, and Rust."
        />
    </head>
    <body
        class="flex flex-col items-start gap-4 px-4 pt-16 md:flex-row md:gap-8 md:pt-32"
    >
        <Aside />
        <main class="flex flex-col gap-4">
            <slot />
            <Footer />
        </main>
    </body>
</html>
