---
import '@/styles/global.css'
import Head from '@/components/Layout/Head.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
import Aside from '@/components/Aside.astro'
import Footer from '@/components/Layout/Footer.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <Head
            title="Naibuu"
            description="Im a software developer and designer from Greece with experience in languages like TypeScript, Python, C++, and Rust."
        />
    </head>
    <body>
        <ThemeToggle />
        <main
            class="flex flex-col items-start gap-3 px-3 pt-16 md:flex-row md:gap-6 md:pt-40"
        >
            <Aside />
            <div class="flex flex-col gap-3">
                <slot />
                <Footer />
            </div>
        </main>
    </body>
</html>
