---
import '@/styles/global.css'

import Head from '@/components/Layout/Head.astro'
import GridHeader from '@/components/Layout/GridHeader.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <Head
            title="Naibuu"
            description="Im a software developer and designer from Greece with experience in languages like TypeScript, Python, C++, and Rust."
        />
    </head>
    <body>
        <GridHeader />
    </body>
</html>
